<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="vtt-template" content="editor;v=1">
  <title>Cairn Enemy</title>
</head>

<body>

  <table class="tpl-table">
    <tr>
      <td colspan="2" class="section-header">Basic</td>
    </tr>
    <tr>
      <td class="center"><strong>HP</strong><br><input data-field="hp" type="text" class="box sm"></td>
      <td class="center"><strong>Damage</strong><br><input data-field="dmg" type="text" class="box sm"> <button data-roll="d20" data-roll-label="Damage" class="roll-btn">🎲</button></td>
    </tr>
  </table>

  <table class="tpl-table">
    <tr>
      <td colspan="3" class="section-header">Stats</td>
    </tr>
    <tr>
      <td class="center"><strong>STR</strong><br><input data-field="str" type="text" class="circle"> <button data-roll="d20" data-roll-label="" class="roll-btn">🎲</button></td>
      <td class="center"><strong>DEX</strong><br><input data-field="dex" type="text" class="circle"> <button data-roll="d20" data-roll-label="" class="roll-btn">🎲</button></td>
      <td class="center"><strong>WIL</strong><br><input data-field="wil" type="text" class="circle"> <button data-roll="d20" data-roll-label="" class="roll-btn">🎲</button></td>
    </tr>
  </table>

  <table class="tpl-table">
    <tr>
      <td colspan="1" class="section-header">Notes</td>
    </tr>
    <tr>
      <td><strong>Equipement, notes, conditions</strong><br><textarea data-field="field" class="plain wide" rows="2"></textarea></td>
    </tr>
  </table>

</body>

</html>
