# Blokada dostępu do .env
<FilesMatch "^\.env">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Blokada dostępu do plików danych
<FilesMatch "state\.json$|rolls\.json$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Zezwolenie na publiczne szablony HTML
<If "%{REQUEST_URI} =~ m#^/backend/assets/templates/.*\.html$#">
    Require all granted
</If>

# Blokada listowania katalogów
Options -Indexes